In [7]:
!pip install beautifulsoup4
!pip install pandas

Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [141]:
def scrape_wikipedia_headers(url):
    # Send a GET request to the URL
    response = requests.get(url)
    
    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Find all header tags 
        header_texts =[]
        for i in soup.find_all('span',class_="mw-headline"):
            header_texts.append(i.text)
            
        
        # Create a DataFrame with the header texts
        df = pd.DataFrame({'Headers': header_texts})
        
        return df
    else:
        # Print an error message if the request was not successful
        print(f"Error: Unable to retrieve data from {url}. Status code: {response.status_code}")
        return None

# Example usage:
url = 'https://en.wikipedia.org/wiki/Main_Page'
headers_df = scrape_wikipedia_headers(url)
print(headers_df)

                         Headers
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5     From today's featured list
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

2) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents and make data frame.

In [142]:
def former_presidents_india(url):
    # Send a GET request to the URL
    response = requests.get(url)
    
    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Find all header tags 
        Presidents_list=[]
        for i in soup.find_all('div',class_="desc-sec"):
            Presidents_list.append(i.text.strip().replace('\n',''))
            
        
        # Create a DataFrame with the header texts
        df = pd.DataFrame({'Headers': Presidents_list})
        
        return df
    else:
        # Print an error message if the request was not successful
        print(f"Error: Unable to retrieve data from {url}. Status code: {response.status_code}")
        return None

# Example usage:
url ='https://presidentofindia.nic.in/former-presidents'
presidents = former_presidents_india(url)
print(presidents)

                                              Headers
0         Shri Ram Nath Kovind14th President of India
1        Shri Pranab Mukherjee13th President of India
2   Smt Pratibha Devisingh Patil12th President of ...
3       DR. A.P.J. Abdul Kalam11th President of India
4         Shri K. R. Narayanan10th President of India
5      Dr Shankar Dayal Sharma9th  President of India
6           Shri R Venkataraman8th President of India
7              Giani Zail Singh7th President of India
8     Shri Neelam Sanjiva Reddy6th President of India
9      Dr. Fakhruddin Ali Ahmed5th President of India
10  Shri Varahagiri Venkata Giri4th President of I...
11             Dr. Zakir Husain3rd President of India
12  Dr. Sarvepalli Radhakrishnan2nd President of I...
13          Dr. Rajendra Prasad1st President of India

3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team andrating.
c) Top 10 ODI bowlers along with the records of their team andrating

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [144]:
response=requests.get('https://www.espncricinfo.com/rankings/content/page/211271.html')
response
soup = BeautifulSoup(response.text, 'html.parser')
#soup
teams_data = []
teams_table = soup.find('table', class_='StoryengineTable')
#print(teams_table)
for row in teams_table.find_all('tr')[1:11]:
    columns = row.find_all('td')
    team = columns[0].text.strip()
    matches = columns[1].text.strip()
    points = columns[2].text.strip()
    rating = columns[3].text.strip()
    teams_data.append({
            'Team': team,
            'Matches': matches,
            'Points': points,
            'Rating': rating
        })
           

Teams_data=pd.DataFrame(teams_data)
Teams_data

  Team       Matches Points Rating
0    1     Australia     34   4102
1    2         India     32   3746
2    3       England     43   4941
3    4  South Africa     24   2536
4    5   New Zealand     26   2471
5    6      Pakistan     29   2576
6    7     Sri Lanka     27   2123
7    8   West Indies     28   2154
8    9    Bangladesh     22   1131
9   10      Zimbabwe      7    223

b) Top 10 ODI Batsmen along with the records of their team andrating

In [145]:
response = requests.get('https://sports.ndtv.com/cricket/icc-rankings/odi-batting')
response
soup = BeautifulSoup(response.text, 'html.parser')
#soup
batsmen_data = []
batsmen_table = soup.find('table', class_="rnk_tbl")
for row in batsmen_table.find_all('tr')[1:11]:
    columns = row.find_all(['td', 'th'])
    player = columns[1].text.strip()
    team = columns[2].text.strip()
    rating = columns[3].text.strip()
    batsmen_data.append({
            'Player': player,
            'Team': team,
            'Rating': rating
        })


Batsmen_data=pd.DataFrame(batsmen_data)
Batsmen_data

                                  Player Team                         Rating
0                 Babar Azam\n\nPakistan  824  898 v West Indies, 10/06/2022
1                  Shubman Gill\n\nIndia  801    847 v Australia, 24/09/2023
2                   Virat Kohli\n\nIndia  768      911 v England, 12/07/2018
3                  Rohit Sharma\n\nIndia  746    885 v Sri Lanka, 06/07/2019
4              David Warner\n\nAustralia  745     880 v Pakistan, 26/01/2017
5          Daryl Mitchell\n\nNew Zealand  728        750 v India, 15/11/2023
6                Harry Tector\n\nIreland  723      729 v England, 23/09/2023
7                 Dawid Malan\n\nEngland  707  730 v Netherlands, 08/11/2023
8  Rassie van der Dussen\n\nSouth Africa  701      796 v England, 19/07/2022
9               Shai Hope\n\nWest Indies  699   808 v Bangladesh, 17/05/2019

c) Top 10 ODI bowlers along with the records of their team andrating.

In [146]:
response = requests.get('https://sports.ndtv.com/cricket/icc-rankings/odi-bowling')
response
soup = BeautifulSoup(response.text, 'html.parser')
#soup
bowler_data = []
bowler_table = soup.find('table', class_="rnk_tbl")
for row in bowler_table.find_all('tr')[1:11]:
    columns = row.find_all(['td', 'th'])
    player = columns[1].text.strip()
    team = columns[2].text.strip()
    rating = columns[3].text.strip()
    bowler_data.append({
            'Player': player,
            'Team': team,
            'Rating': rating
        })


Bowler_data=pd.DataFrame(bowler_data)
Bowler_data

                           Player Team                         Rating
0  Keshav Maharaj\n\nSouth Africa  716    741 v Australia, 16/11/2023
1     Josh Hazlewood\n\nAustralia  703      733 v England, 26/01/2018
2         Mohammed Siraj\n\nIndia  678  736 v New Zealand, 21/01/2023
3         Adam Zampa\n\nAustralia  675   695 v Bangladesh, 11/11/2023
4      Rashid Khan\n\nAfghanistan  667     806 v Pakistan, 21/09/2018
5         Jasprit Bumrah\n\nIndia  665  841 v West Indies, 01/11/2018
6      Shaheen Afridi\n\nPakistan  650  688 v West Indies, 10/06/2022
7    Mohammad Nabi\n\nAfghanistan  648     657 v Zimbabwe, 09/06/2022
8          Kuldeep Yadav\n\nIndia  645  765 v New Zealand, 26/01/2019
9      Trent Boult\n\nNew Zealand  643    775 v Australia, 11/09/2022

4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [147]:
response=requests.get('https://www.espncricinfo.com/rankings/content/page/211271.html')
response
soup = BeautifulSoup(response.text, 'html.parser')
#soup
teams_data=[]
target_table = None
for table in soup.find_all('table', class_='StoryengineTable'):
    if '02 January 2024' in table.get_text():
        target_table = table
        break
        
#print(teams_table)
if target_table:
    for row in target_table.find_all('tr')[1:11]:
        columns = row.find_all('td')
        team = columns[0].text.strip()
        matches = columns[1].text.strip()
        points = columns[2].text.strip()
        rating = columns[3].text.strip()
        teams_data.append({
            'Team': team,
            'Matches': matches,
            'Points': points,
            'Rating': rating
        })
        
   
           

Teams_data=pd.DataFrame(teams_data)
Teams_data

  Team             Matches Points Rating
0    1     Australia Women     24   3950
1    2       England Women     23   2991
2    3  South Africa Women     25   2782
3    4   New Zealand Women     25   2428
4    5         India Women     21   2004
5    6   West Indies Women     20   1768
6    7    Bangladesh Women     17   1357
7    8     Sri Lanka Women      9    714
8    9      Pakistan Women     27   1852
9   10      Thailand Women     11    753

b) Top 10 women’s ODI Batting players along with the records of their team and rati

In [148]:
response = requests.get('https://www.sportstiger.com/icc-rankings/women/batting')
response
soup = BeautifulSoup(response.text, 'html.parser')
#soup
players_data = []
players_table = soup.find('div', class_='rankings_table')

for row in players_table.find_all('tr')[1:11]:
    columns = row.find_all('td')
    player = columns[1].text.strip()
    team = columns[2].text.strip()
    rating = columns[3].text.strip()

    players_data.append({
            'Player': player,
            'Team': team,
            'Rating': rating
        })
Players_data=pd.DataFrame(players_data)
Players_data

                            Player          Team Rating
0         (0)Natalie SciverENGLAND       ENGLAND    807
1  (1)Chamari AthapaththuSRI LANKA     SRI LANKA    736
2   (1)Laura WolvaardtSOUTH AFRICA  SOUTH AFRICA    734
3          (2)Beth MooneyAUSTRALIA     AUSTRALIA    731
4         (2)Ellyse PerryAUSTRALIA     AUSTRALIA    720
5          (1)Smriti MandhanaINDIA         INDIA    700
6         (1)Alyssa HealyAUSTRALIA     AUSTRALIA    668
7         (0)Harmanpreet KaurINDIA         INDIA    661
8        (0)Amelia KerrNEW ZEALAND   NEW ZEALAND    642
9    (0)Marizanne KappSOUTH AFRICA  SOUTH AFRICA    636

c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [149]:
response = requests.get('https://www.sportstiger.com/icc-rankings/women/allrounder')
response
soup = BeautifulSoup(response.text, 'html.parser')
#soup
AllRrounders_data = []
AllRounders_table = soup.find('div', class_='rankings_table')

for row in AllRounders_table.find_all('tr')[1:11]:
    columns = row.find_all('td')
    player = columns[1].text.strip()
    team = columns[2].text.strip()
    rating = columns[3].text.strip()

    AllRrounders_data.append({
            'Player': player,
            'Team': team,
            'Rating': rating
        })
AllRrounders_Data=pd.DataFrame(AllRrounders_data)
AllRrounders_Data

                          Player          Team Rating
0  (0)Marizanne KappSOUTH AFRICA  SOUTH AFRICA    394
1   (0)Ashleigh GardnerAUSTRALIA     AUSTRALIA    363
2       (0)Natalie SciverENGLAND       ENGLAND    360
3  (0)Hayley MatthewsWEST INDIES   WEST INDIES    358
4      (0)Amelia KerrNEW ZEALAND   NEW ZEALAND    347
5          (0)Deepti SharmaINDIA         INDIA    343
6       (0)Ellyse PerryAUSTRALIA     AUSTRALIA    260
7    (2)Sophie DevineNEW ZEALAND   NEW ZEALAND    245
8            (1)Nida DarPAKISTAN      PAKISTAN    224
9      (1)Jess JonassenAUSTRALIA     AUSTRALIA    218

5.Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data framei) Headline ii) Time iii) News Link

i) Headline

In [150]:
response = requests.get('https://www.cnbc.com/world/?region=world')
response
soup = BeautifulSoup(response.text, 'html.parser')
#soup
headline =[]
for i in soup.find_all('div',class_="SecondaryCard-headline"):
     headline.append(i.text)
#print(headline)
df = pd.DataFrame({'Headline': headline})
df

                                            Headline
0  Japan markets are hitting multi-decade highs —...
1  Americans are canceling trips that are thousan...

ii) Time

In [151]:
time =[]
for i in soup.find_all('div',class_="LatestNews-container"):
    Time=i.find('time').text
    time.append(Time)
    
#(time)
df= pd.DataFrame({'Time': time})
df

                Time
0         21 Min Ago
1        3 Hours Ago
2        5 Hours Ago
3        5 Hours Ago
4        6 Hours Ago
5        6 Hours Ago
6        7 Hours Ago
7        7 Hours Ago
8        7 Hours Ago
9        7 Hours Ago
10       9 Hours Ago
11      10 Hours Ago
12      10 Hours Ago
13      12 Hours Ago
14      15 Hours Ago
15      15 Hours Ago
16      15 Hours Ago
17      15 Hours Ago
18      15 Hours Ago
19      16 Hours Ago
20      16 Hours Ago
21      16 Hours Ago
22      16 Hours Ago
23      16 Hours Ago
24      17 Hours Ago
25      17 Hours Ago
26      18 Hours Ago
27      18 Hours Ago
28      18 Hours Ago
29  January 13, 2024

iii) News Link

In [152]:
link =[]
for i in soup.find_all('div',class_="LatestNews-container"):
    Link=i.find('a').text
    link.append(Link)
    
     
        
#print(link)
df = pd.DataFrame({'Link': link})
df

                                                 Link
0   European markets set to start new trading week...
1   Japan markets are hitting multi-decade highs —...
2   Taiwan's new president will face a divided par...
3   Gen Zers are leading the way in Singapore's on...
4   CNBC Daily Open: Big Bank earnings signal down...
5   China stocks erase losses as central bank hold...
6
7
8   Americans are canceling trips that are thousan...
9   House Republicans say they will re-subpoena Hu...
10  Nikki Haley campaign site lacks policy platfor...
11  Defense Secretary Austin is 'actively involved...
12  Pro-Palestine protestors arrested for London S...
13  'Mean Girls' is the Queen Bee of the box offic...
14  After big tech layoffs, Silicon Valley may hav...
15
16  Data shows that this is the key to successfull...
17  How 27-year-old whose business brought in $1 m...
18  The 'holy grail' of longevity foods this docto...
19  The No. 1 in-demand remote job companies are h...
20  Barbara Corcoran: Why feeling like a fraud at ...
21       Please stop ignoring your flight attendants
22  Hertz makes 'agile' decision to shift strategy...
23  Ramit Sethi: Common money belief could cost yo...
24  This beach city is helping older adults achiev...
25  Companies are betting on a promising class of ...
26
27
28
29

6) Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data framei) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

i) Paper Title

In [153]:
response=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
response
soup = BeautifulSoup(response.text, 'html.parser')
#soup
paper_title=[]
for i in soup.find_all('header',class_="sc-orwwe2-2 iquSkg"):
    Paper_title=i.find('p').text
    paper_title.append(Paper_title)
    
#print(paper_title)
df = pd.DataFrame({'Paper title': paper_title})
df

['Artificial Intelligence']

               Paper title
0  Artificial Intelligence

ii) Authors

In [155]:
Authors=[]
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    Authors.append(i.text)
#print(Authors)        
df = pd.DataFrame({'Authors list': Authors})
df

                                         Authors list
0   David Silver, Satinder Singh, Doina Precup, Ri...
1                                         Tim Miller
2                                  Margaret A. Boden
3   Guni Sharon, Roni Stern, Ariel Felner, Nathan ...
4                     Ilaria Tiddi, Stefan Schlobach
5                     Henry Prakken, Giovanni Sartor
6    Richard S. Sutton, Doina Precup, Satinder Singh
7          Kjersti Aas, Martin Jullum, Anders Løland
8                Wenhan Luo, Junliang Xing and 4 more
9                      Saurabh Arora, Prashant Doshi
10  Jasper van der Waa, Elisabeth Nieuwburg, Anita...
11  Joe Collenette, Katie Atkinson, Trevor Bench-C...
12  Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz
13  Oskar Wysocki, Jessica Katharine Davies and 5 ...
14  Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...
15          Nolan Bard, Jakob N. Foerster and 13 more
16                        Ron Kohavi, George H. John
17      Séverin Lemaignan, Mathieu Warnier and 3 more
18   Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz
19                            Luigia Carlucci Aiello
20            Patrick Lin, Keith Abney, George Bekey
21     W. Bradley Knox, Alessandro Allievi and 3 more
22  Leslie Pack Kaelbling, Michael L. Littman, Ant...
23             Markus Langer, Daniel Oster and 6 more

iii) Published Date

In [156]:
Published_Date=[]
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    Published_Date.append(i.text)
#(Published_Date)       
df = pd.DataFrame({'Published date': Published_Date})
df

    Published date
0     October 2021
1    February 2019
2      August 1998
3    February 2015
4     January 2022
5     October 2015
6      August 1999
7   September 2021
8       April 2021
9      August 2021
10   February 2021
11      April 2023
12   November 2021
13      March 2023
14        May 2021
15      March 2020
16   December 1997
17       June 2017
18       June 2021
19       June 2016
20      April 2011
21      March 2023
22        May 1998
23       July 2021

iv) Paper URL

In [159]:
paper_url=[]
for i in soup.find_all('li',class_="sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs"):
    Paper_url=i.find('a').text
    paper_url.append(Paper_url)
    
#print(paper_url)
df= pd.DataFrame({'Paper url': paper_url})
df

                                            Paper url
0                                    Reward is enough
1   Explanation in artificial intelligence: Insigh...
2              Creativity and artificial intelligence
3   Conflict-based search for optimal multi-agent ...
4   Knowledge graphs as tools for explainable mach...
5   Law and logic: A review from an argumentation ...
6   Between MDPs and semi-MDPs: A framework for te...
7   Explaining individual predictions when feature...
8       Multiple object tracking: A literature review
9   A survey of inverse reinforcement learning: Ch...
10  Evaluating XAI: A comparison of rule-based and...
11  Explainable AI tools for legal reasoning about...
12            Hard choices in artificial intelligence
13  Assessing the communication gap between AI mod...
14  Explaining black-box classifiers using post-ho...
15  The Hanabi challenge: A new frontier for AI re...
16              Wrappers for feature subset selection
17  Artificial cognition for social human–robot in...
18  A review of possible effects of cognitive bias...
19  The multifaceted impact of Ada Lovelace in the...
20  Robot ethics: Mapping the issues for a mechani...
21          Reward (Mis)design for autonomous driving
22  Planning and acting in partially observable st...
23  What do we want from Explainable Artificial In...

7) Write a python program to scrape mentioned details from dineout.co.inand make data framei) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

i) Restaurant name

In [160]:
response=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
response
soup = BeautifulSoup(response.text, 'html.parser')
#soup
Restaurant_name=[]
for i in soup.find_all('div',class_="restnt-info cursor"):
    Restaurant_name.append(i.text)
#print(Restaurant_name)        
df = pd.DataFrame({'Restaurant name ': Restaurant_name})
df

                                    Restaurant name
0      Castle BarbequeConnaught Place, Central Delhi
1  Cafe KnoshThe Leela Ambience Convention Hotel,...
2    India GrillHilton Garden Inn,Saket, South Delhi
3  The Barbeque CompanyGardens Galleria,Sector 38...
4  Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...
5  The Monarch - Bar Be Que VillageIndirapuram Ha...
6  The Barbeque TimesM2K Corporate Park,Sector 51...

ii) Cuisine

In [162]:
Cuisine=[]
for i in soup.find_all('div',class_="detail-info"):
    cuisine=i.find('a').text
    Cuisine.append(cuisine)
#print(Cuisine)       
df = pd.DataFrame({'Cuisine': Cuisine})
df1

        Cuisine
0       Chinese
1       Italian
2  North Indian
3  North Indian
4  North Indian
5  North Indian
6  North Indian

iii) Location

In [164]:
Location=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
     Location.append(i.text)
#print(Location)        
df = pd.DataFrame({'Location ': Location})
print(df)

                                           Location
0                     Connaught Place, Central Delhi
1  The Leela Ambience Convention Hotel,Shahdara, ...
2               Hilton Garden Inn,Saket, South Delhi
3                 Gardens Galleria,Sector 38A, Noida
4     Taurus Sarovar Portico,Mahipalpur, South Delhi
5  Indirapuram Habitat Centre,Indirapuram, Ghaziabad
6              M2K Corporate Park,Sector 51, Gurgaon

iv) Ratings

In [167]:
Ratings=[]
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(i.text)
    
#print(Image_url)       
df = pd.DataFrame({'Ratings': Ratings})
print(df)

  Ratings
0       4
1     4.3
2     3.9
3     3.9
4     3.7
5     3.8
6     4.1

v) Image URL

In [166]:
Image_url=[]
for i in soup.find_all('img',class_="no-img"):
    Image_url.append(i['data-src'])
    
#print(Image_url)       
df = pd.DataFrame({'image url': Image_url})
print(df)

                                           image url
0  https://im1.dineout.co.in/images/uploads/resta...
1  https://im1.dineout.co.in/images/uploads/resta...
2  https://im1.dineout.co.in/images/uploads/resta...
3  https://im1.dineout.co.in/images/uploads/resta...
4  https://im1.dineout.co.in/images/uploads/resta...
5  https://im1.dineout.co.in/images/uploads/resta...
6  https://im1.dineout.co.in/images/uploads/resta...